* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  line-height: 1.5;
}

.nav {
  z-index: 1;
  width: 100%;
  height: 7rem;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 0.1rem solid #f3f4f6;
  display: flex;
  justify-content: center;
}
.nav__wrapper {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .nav__wrapper {
    padding: 0 2.5rem;
  }
}
.nav__wrapper__logo__brand {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  font-size: 2.5rem;
  font-weight: 600;
  position: relative;
}
.nav__wrapper__logo__brand::after {
  position: absolute;
  right: -1rem;
  bottom: 0.6rem;
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background: #10b981;
  border-radius: 50%;
  box-shadow: 0.2rem #a7f3d0;
}
.nav__wrapper__ul {
  display: flex;
  list-style: none;
}
@media (max-width: 768px) {
  .nav__wrapper__ul {
    position: fixed;
    top: 7rem;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 31.9vh;
    padding: 5rem 0;
    background: #10b981;
    flex-direction: column;
    padding-top: 5rem;
    transform: scale(0);
  }
  .nav__wrapper__ul #about-link {
    color: #000;
    font-weight: 600;
  }
}
.nav__wrapper__ul__li__a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 1.5rem;
}
.nav__wrapper__ul__li__a:hover {
  color: #10b981;
}
@media (max-width: 768px) {
  .nav__wrapper__ul__li__a {
    width: 100%;
    display: block;
    padding: 1rem 2.5rem;
    color: #fff;
  }
  .nav__wrapper__ul__li__a:hover {
    background: #fff;
    color: #000;
    padding-left: 3.5rem;
  }
}
.nav__wrapper__ul__li:first-child .nav__wrapper__ul__li__a {
  color: #10b981;
}
.nav__wrapper__ul__li:first-child .nav__wrapper__ul__li__a:hover {
  color: #000;
}
.nav__wrapper__ul__li:last-child .nav__wrapper__ul__li__a {
  padding-right: 1rem;
}
.nav__wrapper__toggle {
  display: none;
  width: 3.5rem;
  height: 3rem;
  background: #10b981;
  cursor: pointer;
}
.nav__wrapper__toggle i {
  color: #fff;
  font-size: 2.1rem;
}
.nav__wrapper__toggle:hover {
  border-radius: 0.4rem;
  outline: 0.3rem solid #a7f3d0;
  transition: 0.3s linear;
}
@media (max-width: 768px) {
  .nav__wrapper__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .nav__active {
    transform: scale(1);
    background-color: #34d399;
    border-radius: 0;
    transition: 0.3s linear;
    transition: all 0.5s ease-in-out;
  }
}

.header {
  z-index: 0;
  margin-top: -3rem;
  position: relative;
}
.header::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 60%;
  height: calc(100vh - 7rem);
  background: url("../assets/images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(21% 0, 100% 0%, 100% 100%, 0 100%);
          clip-path: polygon(21% 0, 100% 0%, 100% 100%, 0 100%);
}
@media (max-width: 768px) {
  .header::after {
    height: calc(100vh - 8.5rem);
    -webkit-clip-path: none;
            clip-path: none;
    position: absolute;
    z-index: -1;
  }
}
.header__data {
  width: 100%;
  height: calc(100vh - 7rem);
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .header__data {
    height: calc(50vh - 50rem);
    margin-top: calc(50vh - 7rem);
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .header__data {
    position: absolute;
    margin-top: 45vh;
    height: 60%;
  }
}
@media (max-width: 768px) {
  .header__data {
    justify-content: flex-start;
  }
}
.header__data__contents__top {
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #000;
}
.header__data__contents__heading {
  margin-top: 1.5rem;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.5rem;
  background: linear-gradient(45deg, #000, 50%, #10b981 50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .header__data__contents__heading {
    background: linear-gradient(45deg, #000, 50%, #10b981 50%);
    -webkit-background-clip: text;
  }
}
.header__data__contents__bottom {
  margin-top: 1.5rem;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 500;
}

#name {
  margin-left: -0.4%;
}

@media (max-width: 768px) {
  #title {
    display: block;
  }
}

.content-block {
  height: 48vh;
}
@media (max-width: 768px) {
  .content-block {
    height: 30vh;
  }
}

@media (max-width: 768px) {
  .heading {
    margin-top: -30%;
    width: 80%;
    padding-left: 8%;
  }
}
@media (max-width: 480px) {
  .heading {
    margin-top: -60%;
    width: 90%;
  }
}

.about {
  padding: 8rem 0;
  background: linear-gradient(to right, #ecfdf5 25%, #fff 50%);
}
@media (max-width: 1200px) {
  .about {
    position: absolute;
    margin-top: 45vh;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .about {
    position: absolute;
    margin-top: 80vh;
    height: 60%;
  }
}
.about__image {
  width: 26rem;
  height: 26rem;
  position: relative;
  border-radius: 10%;
  margin-left: 10rem;
}
@media (max-width: 992px) {
  .about__image {
    height: 18rem;
    width: 18rem;
  }
}
@media (max-width: 768px) {
  .about__image {
    height: 14rem;
    width: 14rem;
    margin: -20% 0 0 22%;
  }
}
.about__image img {
  width: 70%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 20%;
  border: 8px white solid;
}
@media (max-width: 768px) {
  .about__image img {
    margin-top: 10rem;
  }
}
.about__image__small {
  position: absolute;
  top: -6rem;
  left: -3rem;
  width: 15rem;
  height: 15rem;
}
@media (max-width: 992px) {
  .about__image__small {
    height: 12rem;
    width: 12rem;
  }
}
@media (max-width: 768px) {
  .about__image__small {
    margin-top: 1rem;
    height: 10rem;
    width: 10rem;
    margin-right: 12rem;
  }
}
.about__image__small img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 0.7rem solid #ecfdf5;
}
.about__info {
  margin-top: 1.5rem;
}
@media (max-width: 1200px) {
  .about__info {
    width: 94%;
  }
}
.about__info__message {
  font-size: 1.5rem;
  line-height: 2.8rem;
  color: #000;
}
@media (max-width: 768px) {
  .about__info__message {
    font-size: 1.1rem;
    padding-left: 8%;
  }
}

.projects {
  background-color: #fff;
  padding: 2rem 0 10rem 0;
}
.projects .heading {
  display: inline;
  font-size: 1.7rem;
  margin: -10% 0 4% 0;
  padding-left: 1%;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .projects .heading {
    padding-left: 2.2%;
  }
}
@media (max-width: 768px) {
  .projects {
    padding: 0 0 10rem 0;
    padding-top: 1rem;
  }
}
.projects__card {
  width: 100%;
  max-height: 27rem;
  overflow: hidden;
  position: relative;
  padding: 2%;
}
@media (max-width: 768px) {
  .projects__card {
    padding: 0 2% 1% 2%;
  }
}
.projects__card__image {
  padding-top: 2rem;
  width: 100%;
  height: 100%;
}
.projects__card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: #064e3b;
}
.projects__card__image:hover {
  background: #065f46;
  opacity: 90%;
}
.projects__card__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.projects__card__layer__contents {
  opacity: 90%;
}
.projects__card__layer__contents__title {
  display: inline-block;
  background: #10b981;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}
.projects__card__layer__contents__tools {
  display: block;
  background: #064e3b;
  margin-top: 0.7rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.projects__card:hover {
  opacity: 88%;
}

#contact {
  background: #6ee7b7;
  display: flex;
  justify-content: center;
  height: 64vh;
}

.heading {
  position: relative;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  margin: -1% 0 2% 0;
}
@media (max-width: 992px) {
  .heading {
    margin-left: 2%;
  }
}

.contact__content__label {
  align-items: center;
  display: inline-block;
  font-size: 1.1rem;
  padding: 2% 0 0 76%;
}
@media (max-width: 1200px) {
  .contact__content__label {
    margin-left: -6%;
  }
}
@media (max-width: 768px) {
  .contact__content__label {
    margin-left: -54%;
  }
}
@media (max-width: 480px) {
  .contact__content__label {
    margin-left: -66%;
  }
}
.contact__content__input {
  height: 36px;
  width: 300px;
  border: none;
  border-radius: 2%;
  font-size: 1.2rem;
  padding-left: 2%;
}
.contact__content__message {
  height: 150px;
  width: 300px;
  border: none;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 4% 0 0 2%;
}
.contact__content__message::-moz-placeholder {
  text-align: left;
  vertical-align: top;
}
.contact__content__message:-ms-input-placeholder {
  text-align: left;
  vertical-align: top;
}
.contact__content__message::placeholder {
  text-align: left;
  vertical-align: top;
}
.contact__content__button {
  margin: 1.6% 0 0 76%;
  text-align: center;
  border: none;
  height: 36px;
  width: 300px;
  background-color: #065f46;
  color: #fff;
}
.contact__content__button:hover {
  background-color: #000;
  color: #fff;
}
@media (max-width: 1200px) {
  .contact__content__button {
    margin-left: 70%;
  }
}
@media (max-width: 992px) {
  .contact__content__button {
    margin-left: 70%;
  }
}
@media (max-width: 768px) {
  .contact__content__button {
    margin-left: 22%;
  }
}
@media (max-width: 480px) {
  .contact__content__button {
    margin-left: 10%;
  }
}

.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 10rem auto 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .col-xlg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xlg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xlg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xlg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xlg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xlg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xlg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xlg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xlg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xlg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xlg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xlg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .col-xsm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xsm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xsm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xsm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xsm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xsm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xsm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xsm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xsm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xsm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xsm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xsm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */