@import "../abstracts/variables";
@import "../abstracts/mixins";

.container {
  width: 100%;
  max-width: $maxWidth;
  padding: 0 $gutter;
  margin: 10rem auto 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@each $key, $value in $breakPoints {
  @if $key == xlg {
    @media (min-width: $value) {
      @include columns($key);
    }
  } @else {
    @media (max-width: $value) {
      @include columns($key);
    }
  }
}