@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/colors";

.header {
    z-index: 0;
    margin-top: -3rem;
    position: relative;
    &::after {
        @include position(absolute, 0, 0, null, null);
        content: "";
        width: 60%;
        height: calc(100vh - 7rem);
        background: url("../assets/images/header-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(21% 0, 100% 0%, 100% 100%, 0 100%);
        @include responsive(sm) {
            height: calc(100vh - 8.5rem);
            clip-path: none;
            position: absolute;
            z-index: -1;
        }
    }
    &__data {
        width: 100%;
        height: calc(100vh - 7rem);
        @include flexBox(null, center);
        @include responsive(lg) {
            height: calc(50vh - 50rem);
            margin-top: calc(50vh - 7rem);
            justify-content: center;
        }
        @include responsive(sm) {
            position: absolute;
            margin-top: 45vh;
            height: 60%;
            }
        @include responsive(sm) {
            justify-content: flex-start;
        }
        &__contents {
            &__top {
                font-size: 1.7rem;
                font-weight: 500;
                text-transform: capitalize;
                color: $black;
            }
            &__heading {
                margin-top: 1.5rem;
                font-size: 4.5rem;
                font-weight: 900;
                line-height: 4.5rem;
                background: linear-gradient(45deg, $black, 50%, $green-500 50%);
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                text-transform: capitalize;
                @include responsive(sm) {
                    background: linear-gradient(45deg, $black, 50%, $green-500 50%);
                    -webkit-background-clip: text;
                }
            }
            &__bottom {
                margin-top: $gutter;
                text-transform: capitalize;
                font-size: 1.8rem;
                font-weight: 500;
            }
        }
    }
}
#name {
    margin-left: -0.4%;
}
#title {
    @include responsive(sm) {
        display: block;
    }
}
